
{% extends "base.html" %}

{% block content %}
<div>
    <h1>Edit Project</h1>
    <form action="{{ url_for('edit_project', project_id=project[0]) }}" method="post">
        <input type="text" name="ProjectName" value="{{ project[1] }}" placeholder="Project Name" required><br><br>
        
        <textarea name="ProjectDescription" placeholder="Project Description" rows="4" cols="50">{{ project[2] }}</textarea><br><br>
        
        <input type="date" name="StartDate" value="{{ project[3] }}" placeholder="Start Date"><br><br>
        
        <input type="date" name="EndDate" value="{{ project[4] }}" placeholder="End Date"><br><br>
        
        <select name="Status">
            <option value="Ongoing" {% if project[5] == "Ongoing" %}selected{% endif %}>Ongoing</option>
            <option value="Completed" {% if project[5] == "Completed" %}selected{% endif %}>Completed</option>
            <option value="On Hold" {% if project[5] == "On Hold" %}selected{% endif %}>On Hold</option>
        </select><br><br>
        
        <input type="submit" value="Update Project">
    </form>
</div>
{% endblock %}
