{% extends "base.html" %}

{% block content %}
<div>
    <h1>Assets</h1>
    <a href="/add_asset">Add New Asset</a>
    <form action="/delete_assets" method="post">
        <div class="assets-container">
            {% for asset in assets %}
            <thead>
                <!-- Checkbox for selecting the asset for deletion -->
                <input type="checkbox" name="selected_assets" value="{{ asset[0] }}">

                <!-- Display asset image -->
                <img src="{{ url_for('static', filename='assets/' ~ asset.AssetID ~ '/' ~ asset.FileName) }}" alt="{{ asset.AssetName }}" width="100">

                <div>
                    <a href="{{ url_for('view_asset', asset_id=asset[0]) }}">{{ asset[1] }}</a>
                </div>

                <div>
                    <p>Type: {{ asset[2] }}</p>
                    <p>Version: {{ asset[3] }}</p>
                    <p>Last Modified Date: {{ asset[4] }}</p>
                    <p>Responsible Team Member: {{ asset[5] }}</p>
                    <p>Asset Status: {{ asset[6] }}</p>
                    <p>SVN Link: {{ asset[7] }}</p>
                    <p>Notes: {{ asset[8] }}</p>
                </div>
            </thead>
            {% endfor %}
        </div>
        <input type="submit" value="Delete Selected">
    </form>
</div>
{% endblock %}
